.login-form {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;

  &--title {
    @include font("Lato", 55, 60, 300);
    color: $white;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &--description {
    @include font("Lato", 19, 27, 300);
    color: $white;
    width: 100%;
    margin-bottom: 50px;
  }

  &--form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    &__group {
      @include form-group();
      margin-bottom: 30px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;

      &__register {
        @include button($light_green);
        border: none;
        width: 30%;
      }

      &__login {
        @include button($light_blue);
        width: 30%;
      }
    }
  }
}
