html, body,
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.layout-container {
  background-color: #484767;
  min-height: 100vh;
  position: relative; }

.main-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #293541;
  padding: 20px 80px;
  box-sizing: border-box;
  border-bottom: 5px solid #34404c; }
  .main-navigation--logo-container a.fa-ghost {
    color: #ffffff; }
    .main-navigation--logo-container a.fa-ghost:hover {
      color: #53bce8; }
  .main-navigation--link-container {
    list-style: none;
    display: flex;
    justify-content: center; }
    .main-navigation--link-container__link {
      font-family: "Lato";
      font-size: 15px;
      line-height: 18px;
      font-weight: 700;
      color: #ffffff;
      margin: 0 20px;
      text-transform: uppercase;
      text-decoration: none; }
      .main-navigation--link-container__link:hover {
        color: #53bce8; }

.pages--front {
  min-height: 700px;
  position: relative;
  text-align: center; }
  .pages--front__container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    padding: 30px;
    border-radius: 20px; }
    .pages--front__container__title {
      font-family: "Lato";
      font-size: 55px;
      line-height: 60px;
      font-weight: 300;
      color: #ffffff;
      width: 100%;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .pages--front__container__description {
      font-family: "Lato";
      font-size: 19px;
      line-height: 27px;
      font-weight: 300;
      color: #ffffff;
      width: 100%;
      margin-bottom: 50px; }
    .pages--front__container__login {
      font-family: "Lato";
      font-size: 17px;
      line-height: 21px;
      font-weight: 400;
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      background: #53bce8;
      text-align: center;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 0px 6px #26aae2;
      cursor: pointer;
      width: 40%; }
      .pages--front__container__login:hover {
        background: #3db3e5; }
      .pages--front__container__login:active {
        box-shadow: 0px 3px #198cbc;
        transform: translateY(3px); }
    .pages--front__container__register {
      font-family: "Lato";
      font-size: 17px;
      line-height: 21px;
      font-weight: 400;
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      background: #1abc9c;
      text-align: center;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 0px 6px #148f77;
      cursor: pointer;
      width: 40%; }
      .pages--front__container__register:hover {
        background: #17a689; }
      .pages--front__container__register:active {
        box-shadow: 0px 3px #0e6252;
        transform: translateY(3px); }

.posts--main {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .posts--main--title {
    font-family: "Lato";
    font-size: 55px;
    line-height: 60px;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 80%; }
  .posts--main--add {
    font-family: "Lato";
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background: #53bce8;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 6px #26aae2;
    cursor: pointer;
    margin-top: 20px;
    height: 40px; }
    .posts--main--add:hover {
      background: #3db3e5; }
    .posts--main--add:active {
      box-shadow: 0px 3px #198cbc;
      transform: translateY(3px); }
  .posts--main--list {
    width: 100%;
    margin-top: 30px; }
    .posts--main--list__item {
      padding: 30px;
      border-radius: 5px;
      background: #fef5f5;
      border: 3px solid #34404c;
      width: 100%;
      margin-bottom: 20px; }
      .posts--main--list__item__title {
        font-family: "Lato";
        font-size: 35px;
        line-height: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: #293541;
        margin-bottom: 25px; }
      .posts--main--list__item__author {
        font-family: "Lato";
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        font-style: italic;
        color: #555555;
        display: block;
        margin-bottom: 7px; }
      .posts--main--list__item__created {
        font-family: "Lato";
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        font-style: italic;
        color: #555555;
        display: block;
        margin-bottom: 25px; }
      .posts--main--list__item__content {
        font-family: "Lato";
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        display: block;
        margin-bottom: 30px;
        color: #293541; }
      .posts--main--list__item__more {
        font-family: "Lato";
        font-size: 17px;
        line-height: 21px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background: #1abc9c;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0px 6px #148f77;
        cursor: pointer; }
        .posts--main--list__item__more:hover {
          background: #17a689; }
        .posts--main--list__item__more:active {
          box-shadow: 0px 3px #0e6252;
          transform: translateY(3px); }

.register-form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  padding: 30px;
  border-radius: 20px;
  text-align: center; }
  .register-form--title {
    font-family: "Lato";
    font-size: 55px;
    line-height: 60px;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .register-form--description {
    font-family: "Lato";
    font-size: 19px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
    margin-bottom: 50px; }
  .register-form--form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    .register-form--form__group {
      text-align: left;
      width: 45%;
      margin-bottom: 30px; }
      .register-form--form__group label {
        font-family: "Lato";
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: #ffffff;
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-left: 10px; }
      .register-form--form__group input {
        font-family: "Lato";
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        border: 3px solid #34404c;
        color: #293541; }
        .register-form--form__group input:focus {
          border: 3px solid #3b87a6; }
      .register-form--form__group span {
        font-family: "Lato";
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: #fa625c;
        margin-top: 5px;
        height: 10px;
        display: block;
        padding-left: 10px; }
    .register-form--form__buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px; }
      .register-form--form__buttons__register {
        font-family: "Lato";
        font-size: 17px;
        line-height: 21px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background: #1abc9c;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0px 6px #148f77;
        cursor: pointer;
        border: none;
        width: 30%; }
        .register-form--form__buttons__register:hover {
          background: #17a689; }
        .register-form--form__buttons__register:active {
          box-shadow: 0px 3px #0e6252;
          transform: translateY(3px); }
      .register-form--form__buttons__login {
        font-family: "Lato";
        font-size: 17px;
        line-height: 21px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background: #53bce8;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0px 6px #26aae2;
        cursor: pointer;
        width: 30%; }
        .register-form--form__buttons__login:hover {
          background: #3db3e5; }
        .register-form--form__buttons__login:active {
          box-shadow: 0px 3px #198cbc;
          transform: translateY(3px); }

.login-form {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  padding: 30px;
  border-radius: 20px;
  text-align: center; }
  .login-form--title {
    font-family: "Lato";
    font-size: 55px;
    line-height: 60px;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .login-form--description {
    font-family: "Lato";
    font-size: 19px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
    margin-bottom: 50px; }
  .login-form--form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    .login-form--form__group {
      text-align: left;
      width: 45%;
      margin-bottom: 30px; }
      .login-form--form__group label {
        font-family: "Lato";
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: #ffffff;
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-left: 10px; }
      .login-form--form__group input {
        font-family: "Lato";
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        border: 3px solid #34404c;
        color: #293541; }
        .login-form--form__group input:focus {
          border: 3px solid #3b87a6; }
      .login-form--form__group span {
        font-family: "Lato";
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: #fa625c;
        margin-top: 5px;
        height: 10px;
        display: block;
        padding-left: 10px; }
    .login-form--form__buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px; }
      .login-form--form__buttons__register {
        font-family: "Lato";
        font-size: 17px;
        line-height: 21px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background: #1abc9c;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0px 6px #148f77;
        cursor: pointer;
        border: none;
        width: 30%; }
        .login-form--form__buttons__register:hover {
          background: #17a689; }
        .login-form--form__buttons__register:active {
          box-shadow: 0px 3px #0e6252;
          transform: translateY(3px); }
      .login-form--form__buttons__login {
        font-family: "Lato";
        font-size: 17px;
        line-height: 21px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background: #53bce8;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0px 6px #26aae2;
        cursor: pointer;
        width: 30%; }
        .login-form--form__buttons__login:hover {
          background: #3db3e5; }
        .login-form--form__buttons__login:active {
          box-shadow: 0px 3px #198cbc;
          transform: translateY(3px); }
