$purple: #484767;
$dark_blue: #293541;
$gray_blue: #34404c;
$gray: #555555;
$light_blue: #53bce8;
$dark_light_blue: #3b87a6;
$red: #fa625c;
$light_red: #fef5f5;
$white: #ffffff;
$light_green: #1abc9c;
$dark_green: #199e84;
