
.posts {

  &--add {
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    &--title {
      @include font("Lato", 55, 60, 300);
      color: $white;
      width: 100%;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &--description {
      @include font("Lato", 19, 27, 300);
      color: $white;
      width: 100%;
      margin-bottom: 50px;
    }

    &--back {
      @include font("Lato", 19, 27, 500);
      color: $light_blue;
      margin-bottom: 50px;
      text-decoration: none;
      position: absolute;
      right: 0;
      display: inline-flex;

      &:hover {
        text-decoration: underline;
      }
    }

    &--form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      &__group {
        @include form-group();
        margin-bottom: 30px;
        width: 100%;
      }

      &__buttons {

        &__submit {
          @include button($light_green);
          border: none;
        }
      }
    }
  }
}
