
// Main nav-bar styles
.main-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark_blue;
  padding: 20px 80px;
  box-sizing: border-box;
  border-bottom: 5px solid $gray_blue;

  &--logo-container {
    a.fa-ghost {
      color: $white;

      &:hover {
        color: $light_blue;
      }
    }

    &__user-name {
      @include font("Lato", 15, 18, 700);
      color: $white;
      margin-left: 40px;
    }
  }

  &--link-container {
    list-style: none;
    display: flex;
    justify-content: center;

    &__link {
      @include font("Lato", 15, 18, 700);
      color: $white;
      margin: 0 20px;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $light_blue;
      }
    }
  }
}
